// Media Query Sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
// ColorS Variables!!
$colorDefaultText: #303c3f;
$colorLightBlackText: #7c7c7c;
$colorNavbarGreen: #e1f7f4;
// Fonts Variables
@font-face {
    font-family: cerapromedium;
    src: url(/Assets/Fonts/cerapro/cerapromedium.otf);
}

@font-face {
    font-family: ceraprobold;
    src: url(/Assets/Fonts/cerapro/ceraprobold.otf);
}

@font-face {
    font-family: khandregular;
    src: url(/Assets/Fonts/khand/Khandr.ttf);
}

@font-face {
    font-family: khandbold;
    src: url(/Assets/Fonts/khand/Khandb.ttf);
}

@font-face {
    font-family: khandsemibold;
    src: url(/Assets/Fonts/khand/Khands.ttf);
}

@font-face {
    font-family: khandmedium;
    src: url(/Assets/Fonts/khand/Khandm.ttf);
}

// Global variables
//Mixing
@mixin font20px {
    font-size: 20px;
    color: $colorDefaultText;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// html {
//     scroll-behavior: smooth;
// }
section {
    padding: 40px 0;
}

header {
    background-color: $colorNavbarGreen;
}

body {
    background-repeat: no-repeat;
    overflow-x: hidden;
    width: 100%;
    background-image: url(/Assets/img/HomePhotos/section-1-ourproductbg.png);
    background-size: 1800px;
    background-position: 50% 82%;
}

// <!-- ========== Header Side Start ========== -->
.header {
    .max-width-zero {
        max-width: 0 !important;
    }
    .open-nav {
        @media (max-width: $large) {
            top: 0;
        }
        overflow: hidden;
        position: fixed;
        font-size: 30px;
        color: $colorDefaultText;
        z-index: 98;
        background: white;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transition: all ease 0.2s;
        i {
            padding: 16px;
        }
        &:hover {
            opacity: 1;
            color: #25e2c9;
        }
        &:hover i {
            animation: navsclosebutton 0.3s alternate infinite;
        }
    }
    .left-navbar {
        @media (max-width: 1600px) {
            max-width: 0px;
        }
        @media (max-width: $large) {
            top: 0;
        }
        bottom: 60px;
        position: fixed;
        left: 0;
        top: 60px;
        z-index: 99;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 210px;
        transition: all ease 0.2s;
        overflow: hidden;
        max-width: 210px;
        .kapsayici {
            padding: 24px 18px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .openedDropdown {
            max-height: 300px !important;
        }
        .dropdown {
            overflow: hidden;
            max-height: 0;
            padding-left: 10px;
            transition: all 0.3s ease;
            a {
                @include font20px();
                font-family: khandregular;
            }
        }
        ol {
            margin: 0;
            padding: 0;
            li {
                @media (max-width: $small) {
                    margin-bottom: 20px;
                }
                text-decoration: none;
                list-style-type: none;
                margin-bottom: 40px;
                .active {
                    color: #25e2c9;
                }
                a {
                    .active-rotate {
                        transform: rotate(180deg);
                    }
                    @include font20px();
                    font-family: khandsemibold;
                    display: block;
                    transition: color 0.3s ease;
                    position: relative;
                    &:hover {
                        color: #25e2c9;
                    }
                    .right {
                        position: absolute;
                        right: 0;
                        padding: 0;
                        transition: all 0.3s ease;
                        bottom: calc(25px - 50%);
                        font-size: 16px;
                    }
                    i {
                        padding-right: 12px;
                    }
                }
            }
        }
        .price-wst {
            @media (max-width: 1600px) {
                margin-top: 40px;
            }
            margin-top: 100px;
            text-align: center;
            img {
                width: 112px;
                margin-bottom: 12px;
            }
            .price {
                color: #ffffff;
                background-color: #25e2c9;
                border-radius: 6px;
                font-family: ceraprobold;
                font-size: 22px;
                padding: 10px 40px;
            }
        }
        .close-nav {
            position: absolute;
            top: 0px;
            padding: 20px;
            font-size: 24px;
            right: 0px;
            cursor: pointer;
            transition: color 0.3s ease;
            color: $colorDefaultText;
            &:hover {
                opacity: 1;
                color: #25e2c9;
                animation: navsclosebutton 0.3s alternate infinite;
            }
        }
    }
    .container {
        @media only screen and (max-width: 1400px) {
            padding-left: 40px;
        }
        @media (max-width: 600px) {
            padding-left: 10px;
        }
        padding-left: 80px;
    }
    .navbar {
        height: 100px;
        padding-bottom: 12px;
        img {
            padding-bottom: 4px;
        }
        .buttons {
            a {
                @media (max-width: 500px) {
                    margin: 0;
                }
                color: $colorDefaultText;
                font-size: 18px;
                border: solid 2px #aac9c5;
                border-radius: 30px;
                padding: 5px 16px;
                margin: 0 15px;
                display: inline-block;
                transition: background-color,
                color 0.5s ease;
                &:hover {
                    background-color: #aac9c5;
                    color: white;
                }
            }
            .binance {
                font-family: khandsemibold;
            }
            .connect {
                font-family: cerapromedium;
            }
        }
    }
}

//     <!-- Header Side END -->
//     <!-- ========== Section 1 Side Start  ========== -->
.section1 {
    position: relative;
    background-image: url(/Assets/img/HomePhotos/Section-1-mainbg.png), url(/Assets/img/HomePhotos/section-1-miniroundbg.png), url(/Assets/img/HomePhotos/section-1-left-bg.png), url(/Assets/img/HomePhotos/section-1-dots-bg.png), url(/Assets/img/HomePhotos/section-1-announcmet-up-bg.png);
    background-repeat: no-repeat;
    background-position: 96% -50px, 96% 14%, -226px 99%, bottom 1% left 25%, bottom 462px right 10%;
    background-size: 1616px, 15%, 1010px, 126px, 250px;
    .swipper-side {
        background-image: url(/Assets/img/HomePhotos/section-1-swapper-bg.png), url(/Assets/img/HomePhotos/section-1-swapper-bg-2.png);
        background-repeat: no-repeat;
        background-size: 174px, 111px;
        background-position: bottom -142px left 35%, bottom -105px right 14%;
        position: relative;
        margin-top: 20px;
        background-color: #e1f7f4;
        padding-bottom: 20px;
        .rainbow-img {
            position: absolute;
            width: 590px;
            top: -220px;
            left: 10px;
            z-index: 0;
        }
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: #e1f7f4;
                border: solid #25887b 1px;
            }
            .swiper-pagination-bullet-active {
                background-color: #25887b !important;
            }
        }
        .swiper-wrapper {
            padding: 50px 0;
        }
    }
    .container {
        @media only screen and (max-width: 1400px) {
            padding-left: 40px;
        }
        @media (max-width: 600px) {
            padding-left: 10px;
        }
        padding-left: 80px;
    }
    h1 {
        font-size: 78px;
        font-family: khandsemibold;
        color: $colorDefaultText;
    }
    h2 {
        font-family: khandregular;
        color: #2aa595;
        font-size: 56px;
    }
    .round-item {
        @media (max-width: $xlarge) {
            width: 100%;
        }
        background-color: #25e2c9;
        border-radius: 34px;
        width: 70%;
        padding: 24px 24px;
        margin-top: 20px;
        h4 {
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: $xlarge) {
                font-size: 26px;
            }
            @media (max-width: $small) {
                font-size: 18px;
            }
            font-family: khandsemibold;
            font-size: 18px;
            margin: 0;
        }
        .white-round {
            background-color: #ffffff;
            border-radius: 20px;
            text-align: center;
            padding: 5px 14px;
            margin-top: 8px;
            h3 {
                @media only screen and (max-width: 1400px) {
                    font-size: 16px;
                }
                @media (max-width: $xlarge) {
                    font-size: 24px;
                }
                @media (max-width: $small) {
                    font-size: 18px;
                }
                font-family: khandmedium;
                font-size: 20px;
                margin: 0;
            }
        }
    }
    .infinty-side {
        img {
            background-image: url(/Assets/img/HomePhotos/section-1-bg.png);
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: 43px 93px;
        }
    }
    .announcements-side {
        h2 {
            font-family: khandmedium;
            font-size: 44px;
            color: $colorDefaultText;
        }
        .newpadding {
            padding: 34px 50px !important;
        }
        .mycard {
            padding: 50px;
            background-color: #e1f7f4;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-top: 30px;
            border-radius: 22px;
            max-height: 406px;
            height: 406px;
            .panel {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            h5 {
                @media (max-width: $small) {
                    font-size: 28px;
                }
                color: $colorDefaultText;
                font-size: 32px;
                font-family: khandmedium;
            }
            h6 {
                @media (max-width: $small) {
                    font-size: 18px;
                }
                @media (max-width: 350px) {
                    margin-bottom: 14px;
                }
                color: $colorDefaultText;
                font-size: 22px;
                font-family: khandmedium;
                opacity: 0.5;
                margin-bottom: 34px;
            }
            h4 {
                @include font20px();
                margin: 0;
                font-family: khandmedium;
            }
            // .twitter-tweet{
            //     max-height: 350px;
            //     overflow: hidden;
            // }
        }
    }
    .our-product {
        margin-top: 50px;
        text-align: center;
        span {
            background-color: #25e2c9;
            border-radius: 20px;
            color: rgb(255, 255, 255);
            display: inline-block;
            padding: 10px 84px;
            font-family: cerapromedium;
        }
    }
    .radial {
        @media (max-width: $small) {
            z-index: -1;
        }
        z-index: 1;
        width: 200px;
        position: absolute;
        bottom: -150px;
        right: 0;
        display: block;
    }
}

//     <!-- Section 1 Side END -->
//     <!-- ========== Section Our Product Side Start  ========== -->
.our-product-section {
    background-color: #e1f7f4;
    position: relative;
    .positioncube {
        position: relative;
        img {
            position: absolute;
            z-index: -1;
            left: -104px;
            top: -90px;
            width: 200px;
        }
    }
    .col-xl-3 {
        z-index: 1;
    }
    .mycard {
        @media (max-width: $xxlarge) {
            padding: 20px 24px 0 24px;
        }
        @media (max-width: $xlarge) {
            padding: 50px 24px;
        }
        text-align: center;
        background-color: #ffffff;
        padding: 48px 24px 0 24px;
        border-radius: 40px;
        height: 306px;
        h3 {
            margin: 10px 0;
            font-family: khandmedium;
            font-size: 26px;
        }
        p {
            margin: 0;
            font-family: khandregular;
            font-size: 20px;
            line-height: 1.2;
        }
    }
}

//     <!-- Section Our Product Side END -->
//     <!-- ========== Section Partners Side Start ========== -->
.partners {
    padding-top: 90px;
    padding-bottom: 40px;
    h1 {
        font-family: cerapromedium;
        font-size: 46px;
        color: $colorDefaultText;
        margin-bottom: 36px;
    }
    .partners-items {
        flex-wrap: wrap;
        @media (max-width: $xlarge) {
            justify-content: center;
        }
        .partners-outide {
            @media (max-width: $xlarge) {
                width: 50%;
            }
            @media (max-width: $medium) {
                width: 100%;
            }
            width: 20%;
            padding: 1rem;
            .partners-item {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f7f7f7;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                height: 126px;
                border-radius: 20px;
            }
        }
    }
    .metamesk {
        padding: 26px 44px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: #f7f7f7;
        display: flex;
        margin: 0 1rem;
        margin-top: 120px;
        border-radius: 20px;
        flex-wrap: wrap;
        .metamesk-item {
            @media (max-width: $xlarge) {
                flex: 25%;
                text-align: center;
            }
            @media (max-width: $medium) {
                flex: 100%;
                text-align: center;
                margin-bottom: 2rem;
            }
            flex: 18.75%;
            h5 {
                @media (max-width: $medium) {
                    font-size: 28px;
                }
                @include font20px;
                font-family: khandregular;
            }
        }
        .metamesk-item-meta {
            @media (max-width: $xlarge) {
                flex: 100%;
                justify-content: center;
                margin-top: 30px;
            }
            flex: 25%;
            display: flex;
            align-items: center;
            img {
                width: 60px;
                margin-right: 40px;
            }
            .add-to-metamesk {
                font-family: khandsemibold;
                font-size: 20px;
                padding: 8px 20px;
                border-radius: 8px;
                background-color: #25e2c9;
                border: none;
                color: white;
            }
        }
    }
}

//     <!-- Section Partners Side END -->
//     <!-- ========== Section Footer Side Start ========== -->
.footer {
    padding: 60px 20px;
    background-color: #232f41;
    .container-fluid {
        @media (max-width: 1620px) {
            padding: 0 50px;
        }
        @media (max-width: $small) {
            padding: 0 10px;
        }
        padding: 0 150px;
    }
    .footer-items {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $xlarge) {
            text-align: center;
        }
        .footer-contents {
            @media (max-width: 1620px) {
                padding: 0 100px;
            }
            @media (max-width: $xlarge) {
                flex: 100%;
            }
            @media (max-width: $medium) {
                padding: 0;
            }
            display: flex;
            flex-wrap: wrap;
            flex: 60% !important;
            padding: 0 150px;
            .content-item {
                flex: 33.33%;
            }
        }
        .footer-item {
            @media (max-width: 1450px) {
                flex: 15%;
            }
            @media (max-width: $xlarge) {
                flex: 100%;
                margin-bottom: 2rem;
            }
            flex: 20%;
            .img-fluid {
                width: 400px;
            }
            h4 {
                font-size: 20px;
                font-family: khandsemibold;
                color: white;
                margin-bottom: 9px;
            }
            h3 {
                font-size: 20px;
                font-family: khandregular;
                color: white;
                margin-bottom: 7px;
            }
            .social-medias {
                margin-top: 10px;
                display: flex;
                @media (max-width: $xlarge) {
                    justify-content: center;
                }
                .media-item {
                    background-color: #25e2c9;
                    width: 50px;
                    height: 50px;
                    margin: 0 8px;
                    text-align: center;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: opacity 0.3s ease;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                    i {
                        display: block;
                        color: white;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

//     <!-- Section Footer Side END -->
// Keyframes
@keyframes navsclosebutton {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes navsopenbutton {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}