// Media Query Sizes
$small: 540px;
$medium: 720px;
$large: 960px;
$xlarge: 1140px;
$xxlarge: 1320px;
// ColorS Variables!!


// Fonts Variables


// Global variables
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     scroll-behavior: smooth;
// }
section {
    padding: 60px 0;
}

