@import "variables.scss";
.bg-stake {
    background-size: 1340px;
    background-position: 50% 13%;
}

// <!-- ======= Stake token to Earn Side ======= -->
.staketotoken {
    .stake-swicth {
        margin: 34px 0;
        h3 {
            font-size: 18px;
            color: $colorDefaultText;
            font-family: khandmedium;
            margin: 0;
        }
        .kapsayici-switch {
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgb(255, 255, 255);
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                    border: solid 1px #25e2c9;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 3px;
                        background-color: #25e2c9;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                    }
                }
                input:checked+.slider {
                    background-color: #25e2c9;
                    &::before {
                        background-color: #ffffff;
                    }
                }
                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }
            .slider.round:before {
                border-radius: 50%;
            }
        }
        .radio {
            input {
                width: auto;
                height: 100%;
                appearance: none;
                outline: none;
                cursor: pointer;
                border-radius: 40px;
                padding: 10px 18px;
                background: white;
                color: $colorDefaultText;
                font-size: 18px;
                font-family: khandmedium;
                transition: all 0.2s linear;
                &:checked {
                    background-color: #25e2c9;
                    color: #fff;
                }
                &:before {
                    content: attr(label);
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    .stake-card {
        @media (max-width: $medium) {
            width: 100%;
        }
        background-color: #e1f7f4;
        padding: 50px;
        width: 590px;
        margin: auto;
        box-shadow: 0 3px 6px 0 #a1e2d9;
        border-radius: 10px;
        .stake-head {
            margin-bottom: 24px;
            .logo {
                width: 77px;
            }
            h3 {
                font-family: Khandsemibold;
                font-size: 20px;
                color: $colorDefaultText;
                margin-bottom: 9px;
            }
            a {
                font-family: khandsemibold;
                font-size: 16px;
                color: $colorDefaultText;
                margin: 0;
                border: solid 2px #36e1c9;
                border-radius: 18px;
                padding: 7px 22px;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #36e1c9;
                    color: white;
                }
            }
        }
        .stake-content {
            h4 {
                font-family: khandmedium;
                font-size: 18px;
                color: $colorDefaultText;
            }
        }
        .stake-buttons {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            button {
                font-size: 18px;
                font-family: khandsemibold;
            }
            .unlock-btn {
                color: white;
                background-color: #1aad99;
                padding: 8px 0;
                border: none;
                border-radius: 24px;
                margin-bottom: 26px;
                transition: opacity 0.3s ease;
                &:hover {
                    opacity: 0.7;
                }
            }
            .details-btn {
                background: none;
                border: none;
                color: $colorDefaultText;
                transition: opacity 0.3s ease;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

// <!-- Stake token to Earn Side end -->
// <!-- ============ Launch Your Project on Wisteria Now ============ -->
.launch-project-banner {
    background-color: #e1f7f4;
    opacity: 0.8;
    .kapsayici {
        @media (max-width: $xlarge) {
            width: 100%;
        }
        width: 60%;
        text-align: center;
        margin: auto;
        h1,
        h5 {
            color: $colorDefaultText;
        }
        h1 {
            font-size: 40px;
            font-family: khandsemibold;
        }
        h5 {
            font-size: 22px;
            font-family: khandmedium;
            margin-top: 32px;
            margin-bottom: 42px;
        }
        .apply-btn {
            border: none;
            background-color: #25e2c9;
            color: #ffffff;
            padding: 10px 70px;
            border-radius: 30px;
            font-family: khandsemibold;
            font-size: 18px;
            transition: opacity 0.3s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

// <!--  Launch Your Project on Wisteria Now END -->
// <!-- ======= bitcoin Png Side ======= -->
.bitcoin-png {
    @media(max-width: 1800px) {
        background-size: 60%;
    }
    @media(max-width: 1600px) {
        background-size: 70%;
    }
    @media(max-width: $xxlarge) {
        background-size: 80%;
        background-position: 46% 120px;
    }
    @media(max-width: $xlarge) {
        background-size: 90%;
    }
    @media(max-width: 1000px) {
        background-size: 100%;
    }
    @media(max-width: 900px) {
        background-size: 120%;
        background-position: 46% 160px;
    }
    @media(max-width: 500px) {
        background-size: 140%;
    }
    @media(max-width: 400px) {
        background-size: 140%;
        padding: 150px 0;
        background-position: 70% 80px;
    }
    padding: 250px 0;
    background-image: url(../img/StakePhotos/btcada.png);
    background-position: 46% 80px;
    background-size: 54%;
    background-repeat: no-repeat;
}

// <!-- bitcoin Png Side END -->