// Media Query Sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
// ColorS Variables!!
$colorDefaultText: #303c3f;
$colorLightBlackText: #7c7c7c;
$colorNavbarGreen: #e1f7f4;
// Fonts Variables
@font-face {
    font-family: cerapromedium;
    src: url(../Fonts/cerapro/cerapromedium.otf);
}

@font-face {
    font-family: ceraprobold;
    src: url(../Fonts/cerapro/ceraprobold.otf);
}

@font-face {
    font-family: khandregular;
    src: url(../Fonts/khand/Khandr.ttf);
}

@font-face {
    font-family: khandbold;
    src: url(../Fonts/khand/Khandb.ttf);
}

@font-face {
    font-family: khandsemibold;
    src: url(../Fonts/khand/Khands.ttf);
}

@font-face {
    font-family: khandmedium;
    src: url(../Fonts/khand/Khandm.ttf);
}

// Global variables
//Mixing
@mixin font20px {
    font-size: 20px;
    color: $colorDefaultText;
}