@font-face {
  font-family: cerapromedium;
  src: url(/Assets/Fonts/cerapro/cerapromedium.otf);
}

@font-face {
  font-family: khandregular;
  src: url(/Assets/Fonts/khand/Khandr.ttf);
}

@font-face {
  font-family: khandbold;
  src: url(/Assets/Fonts/khand/Khandb.ttf);
}

@font-face {
  font-family: khandsemibold;
  src: url(/Assets/Fonts/khand/Khands.ttf);
}

@font-face {
  font-family: khandmedium;
  src: url(/Assets/Fonts/khand/Khandm.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  padding: 40px 0;
}

header {
  background-color: #e1f7f4;
}

body {
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  background-image: url(/Assets/img/HomePhotos/section-1-ourproductbg.png);
  background-size: 1800px;
  background-position: 50% 124%;
}

.header .container {
  padding-left: 80px;
}

@media only screen and (max-width: 1400px) {
  .header .container {
    padding-left: 40px;
  }
}

@media (max-width: 600px) {
  .header .container {
    padding-left: 10px;
  }
}

.header .navbar {
  height: 100px;
  padding-bottom: 12px;
}

.header .navbar img {
  padding-bottom: 4px;
}

.header .navbar .buttons a {
  color: #303c3f;
  font-size: 18px;
  border: solid 2px #aac9c5;
  border-radius: 30px;
  padding: 5px 16px;
  margin: 0 15px;
  display: inline-block;
  -webkit-transition: background-color, color 0.5s ease;
  transition: background-color, color 0.5s ease;
}

.header .navbar .buttons a:hover {
  background-color: #aac9c5;
  color: white;
}

.header .navbar .buttons .binance {
  font-family: khandsemibold;
}

.header .navbar .buttons .connect {
  font-family: cerapromedium;
}

.section1 {
  position: relative;
  background-image: url(/Assets/img/HomePhotos/Section-1-mainbg.png), url(/Assets/img/HomePhotos/section-1-miniroundbg.png), url(/Assets/img/HomePhotos/section-1-left-bg.png), url(/Assets/img/HomePhotos/section-1-dots-bg.png), url(/Assets/img/HomePhotos/section-1-announcmet-up-bg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px, 96% 14%, -226px 99%, bottom 1% left 25%, bottom 462px right 10%;
  background-size: 1616px, 15%, 1010px, 126px, 250px;
}

.section1 .swipper-side {
  background-image: url(/Assets/img/HomePhotos/section-1-swapper-bg.png), url(/Assets/img/HomePhotos/section-1-swapper-bg-2.png);
  background-repeat: no-repeat;
  background-size: 174px, 111px;
  background-position: bottom -142px left 35%, bottom -105px right 14%;
  position: relative;
  margin-top: 20px;
  background-color: #e1f7f4;
  padding-bottom: 20px;
}

.section1 .swipper-side .rainbow-img {
  position: absolute;
  width: 590px;
  top: -220px;
  left: 10px;
  z-index: 0;
}

.section1 .swipper-side .swiper-pagination .swiper-pagination-bullet {
  background-color: #e1f7f4;
  border: solid #25887b 1px;
}

.section1 .swipper-side .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #25887b !important;
}

.section1 .swipper-side .swiper-wrapper {
  padding: 50px 0;
}

.section1 .container {
  padding-left: 80px;
}

@media only screen and (max-width: 1400px) {
  .section1 .container {
    padding-left: 40px;
  }
}

@media (max-width: 600px) {
  .section1 .container {
    padding-left: 10px;
  }
}

.section1 h1 {
  font-size: 78px;
  font-family: khandsemibold;
  color: #303c3f;
}

.section1 h2 {
  font-family: khandregular;
  color: #2aa595;
  font-size: 56px;
}

.section1 .round-item {
  background-color: #25e2c9;
  border-radius: 34px;
  width: 70%;
  padding: 24px 24px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .section1 .round-item {
    width: 100%;
  }
}

.section1 .round-item h4 {
  font-family: khandsemibold;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 1400px) {
  .section1 .round-item h4 {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .section1 .round-item h4 {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .section1 .round-item h4 {
    font-size: 18px;
  }
}

.section1 .round-item .white-round {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 5px 14px;
  margin-top: 8px;
}

.section1 .round-item .white-round h3 {
  font-family: khandmedium;
  font-size: 20px;
  margin: 0;
}

@media only screen and (max-width: 1400px) {
  .section1 .round-item .white-round h3 {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .section1 .round-item .white-round h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .section1 .round-item .white-round h3 {
    font-size: 18px;
  }
}

.section1 .infinty-side img {
  background-image: url(/Assets/img/HomePhotos/section-1-bg.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 43px 93px;
}

.section1 .announcements-side h2 {
  font-family: khandmedium;
  font-size: 44px;
  color: #303c3f;
}

.section1 .announcements-side .newpadding {
  padding: 34px 50px !important;
}

.section1 .announcements-side .mycard {
  padding: 50px;
  background-color: #e1f7f4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  border-radius: 22px;
  max-height: 406px;
  height: 406px;
}

.section1 .announcements-side .mycard .panel::-webkit-scrollbar {
  display: none;
}

.section1 .announcements-side .mycard h5 {
  color: #303c3f;
  font-size: 32px;
  font-family: khandmedium;
}

.section1 .announcements-side .mycard h6 {
  color: #303c3f;
  font-size: 22px;
  font-family: khandmedium;
  opacity: 0.5;
  margin-bottom: 34px;
}

.section1 .announcements-side .mycard h4 {
  font-size: 20px;
  color: #303c3f;
  margin: 0;
  font-family: khandmedium;
}

.section1 .our-product {
  margin-top: 50px;
  text-align: center;
}

.section1 .our-product span {
  background-color: #25e2c9;
  border-radius: 20px;
  color: white;
  display: inline-block;
  padding: 10px 84px;
  font-family: cerapromedium;
}

.section1 .radial {
  z-index: 1;
  width: 850px;
  position: absolute;
  bottom: -327px;
  right: -550px;
  display: none;
}

.our-product-section {
  background-color: #e1f7f4;
  position: relative;
}

.our-product-section .positioncube {
  position: relative;
}

.our-product-section .positioncube img {
  position: absolute;
  z-index: -1;
  left: -104px;
  top: -90px;
  width: 200px;
}

.our-product-section .col-xl-3 {
  z-index: 1;
}

.our-product-section .mycard {
  text-align: center;
  background-color: #ffffff;
  padding: 48px 24px 0 24px;
  border-radius: 40px;
  height: 306px;
}

@media (max-width: 1400px) {
  .our-product-section .mycard {
    padding: 20px 24px 0 24px;
  }
}

@media (max-width: 1200px) {
  .our-product-section .mycard {
    padding: 50px 24px;
  }
}

.our-product-section .mycard h3 {
  margin: 10px 0;
  font-family: khandmedium;
  font-size: 26px;
}

.our-product-section .mycard p {
  margin: 0;
  font-family: khandregular;
  font-size: 20px;
  line-height: 1.2;
}

.partners {
  padding-top: 90px;
  padding-bottom: 40px;
}

.partners h1 {
  font-family: cerapromedium;
  font-size: 46px;
  color: #303c3f;
  margin-bottom: 36px;
}

.partners .partners-items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .partners .partners-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partners .partners-items .partners-outide {
  width: 20%;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .partners .partners-items .partners-outide {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .partners .partners-items .partners-outide {
    width: 100%;
  }
}

.partners .partners-items .partners-outide .partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 126px;
  border-radius: 20px;
}

.partners .metamesk {
  padding: 26px 44px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  margin-top: 120px;
  border-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners .metamesk .metamesk-item {
  -webkit-box-flex: 18.75%;
      -ms-flex: 18.75%;
          flex: 18.75%;
}

@media (max-width: 1200px) {
  .partners .metamesk .metamesk-item {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .partners .metamesk .metamesk-item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.partners .metamesk .metamesk-item h5 {
  font-size: 20px;
  color: #303c3f;
  font-family: khandregular;
}

@media (max-width: 768px) {
  .partners .metamesk .metamesk-item h5 {
    font-size: 28px;
  }
}

.partners .metamesk .metamesk-item-meta {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .partners .metamesk .metamesk-item-meta {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.partners .metamesk .metamesk-item-meta img {
  width: 60px;
  margin-right: 40px;
}

.partners .metamesk .metamesk-item-meta .add-to-metamesk {
  font-family: khandsemibold;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #25e2c9;
  border: none;
  color: white;
}

.footer {
  padding: 60px 20px;
  background-color: #232f41;
}

.footer .container-fluid {
  padding: 0 150px;
}

.footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-items .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-items .footer-contents .content-item {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

.footer .footer-items .footer-item {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

.footer .footer-items .footer-item .img-fluid {
  width: 400px;
}

.footer .footer-items .footer-item h4 {
  font-size: 20px;
  font-family: khandsemibold;
  color: white;
}

.footer .footer-items .footer-item .social-medias {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-items .footer-item .social-medias .media-item {
  background-color: #25e2c9;
  width: 50px;
  height: 50px;
  margin: 0 8px;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.footer .footer-items .footer-item .social-medias .media-item:hover {
  opacity: 0.8;
}

.footer .footer-items .footer-item .social-medias .media-item i {
  display: block;
  color: white;
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */