@font-face {
  font-family: cerapromedium;
  src: url(/Assets/Fonts/cerapro/cerapromedium.otf);
}

@font-face {
  font-family: ceraprobold;
  src: url(/Assets/Fonts/cerapro/ceraprobold.otf);
}

@font-face {
  font-family: khandregular;
  src: url(/Assets/Fonts/khand/Khandr.ttf);
}

@font-face {
  font-family: khandbold;
  src: url(/Assets/Fonts/khand/Khandb.ttf);
}

@font-face {
  font-family: khandsemibold;
  src: url(/Assets/Fonts/khand/Khands.ttf);
}

@font-face {
  font-family: khandmedium;
  src: url(/Assets/Fonts/khand/Khandm.ttf);
}

.bg-stake {
  background-size: 1340px;
  background-position: 50% 13%;
}

.staketotoken .stake-card {
  background-color: #e1f7f4;
  padding: 50px;
  width: 590px;
  margin: auto;
  -webkit-box-shadow: 0 3px 6px 0 #a1e2d9;
          box-shadow: 0 3px 6px 0 #a1e2d9;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .staketotoken .stake-card {
    width: 100%;
  }
}

.staketotoken .stake-card .stake-head {
  margin-bottom: 24px;
}

.staketotoken .stake-card .stake-head .logo {
  width: 77px;
}

.staketotoken .stake-card .stake-head h3 {
  font-family: Khandsemibold;
  font-size: 20px;
  color: #303c3f;
  margin-bottom: 9px;
}

.staketotoken .stake-card .stake-head a {
  font-family: khandsemibold;
  font-size: 16px;
  color: #303c3f;
  margin: 0;
  border: solid 2px #36e1c9;
  border-radius: 18px;
  padding: 7px 22px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.staketotoken .stake-card .stake-head a:hover {
  background-color: #36e1c9;
  color: white;
}

.staketotoken .stake-card .stake-content h4 {
  font-family: khandmedium;
  font-size: 18px;
  color: #303c3f;
}

.staketotoken .stake-card .stake-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.staketotoken .stake-card .stake-buttons button {
  font-size: 18px;
  font-family: khandsemibold;
}

.staketotoken .stake-card .stake-buttons .unlock-btn {
  color: white;
  background-color: #1aad99;
  padding: 8px 0;
  border: none;
  border-radius: 24px;
  margin-bottom: 26px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.staketotoken .stake-card .stake-buttons .unlock-btn:hover {
  opacity: 0.7;
}

.staketotoken .stake-card .stake-buttons .details-btn {
  background: none;
  border: none;
  color: #303c3f;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.staketotoken .stake-card .stake-buttons .details-btn:hover {
  opacity: 0.7;
}

.launch-project-banner {
  background-color: #e1f7f4;
  opacity: 0.8;
}

.launch-project-banner .kapsayici {
  width: 60%;
  text-align: center;
  margin: auto;
}

@media (max-width: 1200px) {
  .launch-project-banner .kapsayici {
    width: 100%;
  }
}

.launch-project-banner .kapsayici h1,
.launch-project-banner .kapsayici h5 {
  color: #303c3f;
}

.launch-project-banner .kapsayici h1 {
  font-size: 40px;
  font-family: khandsemibold;
}

.launch-project-banner .kapsayici h5 {
  font-size: 22px;
  font-family: khandmedium;
  margin-top: 32px;
  margin-bottom: 42px;
}

.launch-project-banner .kapsayici .apply-btn {
  border: none;
  background-color: #25e2c9;
  color: #ffffff;
  padding: 10px 70px;
  border-radius: 30px;
  font-family: khandsemibold;
  font-size: 18px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.launch-project-banner .kapsayici .apply-btn:hover {
  opacity: 0.7;
}

.bitcoin-png {
  padding: 250px 0;
  background-image: url(/Assets/img/StakePhotos/btcada.png);
  background-position: 46% 80px;
  background-size: 54%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=stake.css.map */